<%- include('../template/cabeceraAdmin', { tituloWeb: 'Home Admin' }) %>
        
<div class="content">
    <div class="dashboard-container">
    <div class="welcome-message">
        <h1 style="color: #ff6f61;  text-align: center;">Bienvenido al Panel de Administración</h1>
        <p style="text-align: center;">Selecciona una opción del menú para comenzar.</p>
        <p style="text-align: center;">Bienvenido, <%= user.name %>!</p>
    </div>
</div>
</div>

<div class="image-container">
    <img src="/img/path-to-your-image.jpg" alt="Descripción de la imagen" style="width: 350px; height: auto;">

</div>
</div>


